{% extends '../blog/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="col-lg-12">
            <div class="text-center h3">Meet the  Team</div>
            <hr />
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
            </div><div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="{% static "user-placeholder.jpg" %}" height="80%" width="80%" />
                        <p>Alice</p>
                        <p>Post</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}